Repository easel/ddx: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, go-build, go-test, ddx-validate

go-fmt:
  name: Go Format
  ...

go-lint:
  name: Go Lint
  ...

go-build:
  name: Go Build
  run: "if [ -f \"cli/go.mod\" ]; then\n  cd cli\nelif [ ! -f \"go.mod\" ]; then\n  exit 0\nfi\n\necho \"üî® Building Go project...\"\ngo build -v ./...\n"
  skip:
  - merge
  - rebase

go-test:
  name: Go Tests
  ...

ddx-validate:
  name: Validate DDx
  ...

docs: add README for ddx-library repository
  README.md
Due: none

feat: simplify init command and split library into separate repository
  README.md
  cli/cmd/$PROFILE
  cli/cmd/command_factory_commands.go
  cli/cmd/help_acceptance_test.go
  cli/cmd/init.go
  cli/cmd/init_functional_test.go
  cli/cmd/init_test.go
  cli/cmd/pnpm-lock.yaml
  cli/internal/config/types.go
  install.sh
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

fix: resolve test failures after library structure changes
  cli/cmd/$PROFILE
  cli/cmd/doctor.go
  cli/cmd/installation_acceptance_test.go
  cli/cmd/list_test.go
  cli/cmd/pnpm-lock.yaml
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

fix: improve git-subtree detection in installer for Homebrew git
  install.sh
Due: none

fix: use ddx-library repository and remove Subtree config field
  cli/cmd/acceptance_test.go
  cli/cmd/config.go
  cli/cmd/config_acceptance_test.go
  cli/cmd/config_debug_test.go
  cli/cmd/config_test.go
  cli/cmd/contract_test.go
  cli/cmd/contribute.go
  cli/cmd/diagnose.go
  cli/cmd/doctor.go
  cli/cmd/e2e_test.go
  cli/cmd/init.go
  cli/cmd/init_functional_test.go
  cli/cmd/init_test.go
  cli/cmd/list.go
  cli/cmd/mcp.go
  cli/cmd/mcp_acceptance_test.go
  cli/cmd/mcp_contract_test.go
  cli/cmd/persona.go
  cli/cmd/persona_acceptance_test.go
  cli/cmd/persona_contract_test.go
  cli/cmd/persona_integration_test.go
  cli/cmd/prompts.go
  cli/cmd/prompts_test.go
  cli/cmd/repository_connection_test.go
  cli/cmd/security_test.go
  cli/cmd/sync_acceptance_test.go
  cli/cmd/sync_contract_test.go
  cli/cmd/test_isolation_test.go
  cli/cmd/testutils_test.go
  cli/internal/config/config.go
  cli/internal/config/config_basic_test.go
  cli/internal/config/schema/config.schema.json
  cli/internal/config/types.go
  cli/internal/persona/loader.go
  docs/helix/01-frame/user-stories/US-001-initialize-ddx-in-project.md
  docs/helix/01-frame/user-stories/US-017-initialize-configuration.md
  docs/helix/01-frame/user-stories/US-018-configure-variables.md
  docs/helix/02-design/adr/adr-005-configuration-management.md
  docs/helix/02-design/adr/adr-007-variable-substitution.md
  docs/helix/02-design/solution-designs/SD-003-configuration-management.md
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

fix: update all test configs to use new format without subtree field
  CLAUDE.md
  cli/cmd/acceptance_test.go
  cli/cmd/config_acceptance_test.go
  cli/cmd/config_debug_test.go
  cli/cmd/config_test.go
  cli/cmd/contract_test.go
  cli/cmd/e2e_test.go
  cli/cmd/installation_acceptance_test.go
  cli/cmd/list_test.go
  cli/cmd/mcp_acceptance_test.go
  cli/cmd/persona_acceptance_test.go
  cli/cmd/persona_contract_test.go
  cli/cmd/persona_integration_test.go
  cli/cmd/prompts_test.go
  cli/cmd/repository_connection_test.go
  cli/cmd/sync_acceptance_test.go
  cli/cmd/sync_contract_test.go
Due: go-fmt, go-lint, go-build, go-test

refactor: rename 'diagnose' command to 'doctor' for consistency
  CLAUDE.md
  Makefile
  README.md
  cli/cmd/command_factory.go
  cli/cmd/command_factory_commands.go
  cli/cmd/diagnose.go
  cli/cmd/help_acceptance_test.go
  cli/cmd/init.go
  cli/cmd/init_test.go
  docs/SETUP_GUIDE.md
  docs/cli-commands.md
  docs/helix/01-frame/features/FEAT-001-core-cli-framework.md
  docs/helix/01-frame/user-stories/US-001-initialize-ddx-in-project.md
  docs/helix/02-design/adr/adr-009-error-handling-recovery.md
  docs/helix/02-design/architecture.md
  docs/helix/02-design/contracts/CLI-001-core-commands.md
  docs/helix/02-design/contracts/CLI-002-sync-commands.md
  docs/helix/02-design/contracts/CLI-003-utility-commands.md
  docs/helix/02-design/solution-designs/SD-001-core-cli-framework.md
  docs/helix/03-test/test-plan.md
  docs/helix/04-build/implementation-plans/IP-028-one-command-installation.md
  docs/helix/04-build/implementation-plans/IP-030-installation-verification.md
  docs/helix/04-build/implementation-plans/IP-032-upgrade-existing-installation.md
  docs/usage/README.md
  docs/usage/getting-started/quick-start.md
  install.sh
  lefthook.yml
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

feat: implement ddx upgrade command for binary self-updates
  CLAUDE.md
  README.md
  cli/cmd/command_factory.go
  cli/cmd/command_factory_commands.go
  cli/cmd/upgrade.go
  docs/cli-commands.md
  install.sh
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

feat: implement automatic update notifications (US-043)
  CLAUDE.md
  cli/cmd/acceptance_test.go
  cli/cmd/command_factory.go
  cli/cmd/config_acceptance_test.go
  cli/cmd/testutils_test.go
  cli/cmd/upgrade.go
  cli/cmd/version_acceptance_test.go
  cli/internal/config/schema/config.schema.json
  cli/internal/config/types.go
  cli/internal/update/cache.go
  cli/internal/update/cache_test.go
  cli/internal/update/checker.go
  cli/internal/update/checker_test.go
  cli/internal/update/types.go
  cli/internal/update/version.go
  docs/helix/01-frame/feature-registry.md
  docs/helix/01-frame/features/FEAT-014-agent-workflow-enforcement.md
  docs/helix/01-frame/user-stories/US-008-check-ddx-version.md
  docs/helix/01-frame/user-stories/US-043-automatic-update-notifications.md
  docs/helix/01-frame/user-stories/US-044-workflow-enforcer-agent.md
  docs/helix/02-design/solution-designs/SD-014-agent-workflow-enforcement.md
  docs/helix/02-design/solution-designs/SD-043-automatic-update-notifications.md
  docs/helix/03-test/test-specs/TS-014-agent-workflow-enforcement.md
  docs/helix/04-build/FEAT-014-completion-summary.md
  docs/helix/04-build/implementation-plans/IP-014-agent-workflow-enforcement.md
  docs/helix/04-build/implementation-plans/IP-043-automatic-update-notifications.md
  docs/product/features/self-update.md
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

fix: improve test infrastructure and fix 30+ failing tests
  cli/cmd/acceptance_test.go
  cli/cmd/command_factory.go
  cli/cmd/command_factory_commands.go
  cli/cmd/contract_test.go
  cli/cmd/init.go
  cli/cmd/init_test.go
  cli/cmd/mcp.go
  cli/cmd/persona_acceptance_test.go
  cli/cmd/prompts_test.go
  cli/cmd/test_isolation_test.go
  cli/internal/mcp/installer.go
  cli/internal/mcp/registry.go
Due: go-fmt, go-lint, go-build, go-test

fix: complete test suite fixes - all 94 tests now passing
  cli/cmd/command_factory.go
  cli/cmd/config_acceptance_test.go
  cli/cmd/help_acceptance_test.go
  cli/cmd/installation_acceptance_test.go
  cli/cmd/mcp_acceptance_test.go
  cli/cmd/mcp_contract_test.go
  cli/cmd/persona.go
  cli/cmd/persona_acceptance_test.go
  cli/cmd/persona_contract_test.go
  cli/cmd/persona_integration_test.go
  cli/cmd/repository_connection_test.go
  cli/cmd/security_test.go
  cli/cmd/status_test.go
  cli/cmd/sync_acceptance_test.go
  cli/cmd/testutils_test.go
  cli/cmd/version_acceptance_test.go
Due: go-fmt, go-lint, go-build, go-test

chore: update release workflow to run all tests
  .github/workflows/release.yml
Due: ddx-validate

fix: correct library path in release workflow
  .github/workflows/release.yml
Due: ddx-validate

fix: use absolute path for library in release workflow
  .github/workflows/release.yml
Due: ddx-validate

fix: checkout ddx-library repository in release workflow
  .github/workflows/release.yml
Due: ddx-validate

fix: remove library-dependent tests from US002
  cli/cmd/acceptance_test.go
Due: go-fmt, go-lint, go-build, go-test

refactor: remove backup file creation from ddx init --force
  cli/cmd/contract_test.go
  cli/cmd/init.go
  cli/cmd/init_functional_test.go
  cli/cmd/init_test.go
  docs/helix/01-frame/user-stories/US-017-initialize-configuration.md
  docs/helix/02-design/contracts/CLI-001-core-commands.md
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

fix: replace hardcoded paths with dynamic detection in tests
  .github/workflows/release.yml
  cli/cmd/config_acceptance_test.go
  cli/cmd/installation_acceptance_test.go
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

feat: add test library fixture and enhanced TestEnvironment (Phase 1)
  cli/cmd/testutils_test.go
Due: go-fmt, go-lint, go-build, go-test

refactor: remove DDX_TEST_MODE from production code (Phase 2)
  cli/cmd/contribute.go
  cli/cmd/init.go
Due: go-fmt, go-lint, go-build, go-test

refactor: migrate init_test.go to use TestEnvironment (Phase 3)
  cli/cmd/init_test.go
  cli/cmd/testutils_test.go
Due: go-fmt, go-lint, go-build, go-test

refactor: remove DDX_TEST_MODE from smaller test files (Phase 3.2)
  cli/cmd/init_functional_test.go
  cli/cmd/installation_acceptance_test.go
  cli/cmd/sync_acceptance_test.go
Due: go-fmt, go-lint, go-build, go-test

refactor: remove all DDX_TEST_MODE from sync_contract_test.go (Phase 3.3)
  cli/cmd/sync_contract_test.go
Due: go-fmt, go-lint, go-build, go-test

refactor: remove DDX_TEST_MODE from run_single_test.sh (Phase 4 cleanup)
  cli/run_single_test.sh
Due: none

fix: complete DDX_TEST_MODE removal and improve test isolation
  cli/cmd/contribute.go
  cli/cmd/init.go
  cli/cmd/init_test.go
  cli/cmd/sync_acceptance_test.go
  cli/cmd/sync_contract_test.go
  cli/cmd/testutils_test.go
Due: go-fmt, go-lint, go-build, go-test

fix: resolve remaining test failures after DDX_TEST_MODE removal
  cli/cmd/contribute.go
  cli/cmd/init.go
  cli/cmd/init_test.go
  cli/cmd/sync_acceptance_test.go
Due: go-fmt, go-lint, go-build, go-test

feat: implement meta-prompt injection system (FEAT-015)
  cli/cmd/config.go
  cli/cmd/doctor.go
  cli/cmd/init.go
  cli/cmd/update.go
  cli/internal/metaprompt/injector.go
  docs/helix/01-frame/feature-registry.md
  docs/helix/01-frame/features/FEAT-015-meta-prompt-injection.md
  docs/helix/01-frame/user-stories/US-045-meta-prompt-auto-sync.md
  docs/helix/02-design/solution-designs/SD-015-meta-prompt-injection.md
  docs/helix/03-test/test-specs/TS-015-meta-prompt-injection.md
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

refactor: simplify HELIX workflow templates for clarity and maintainability
  library/workflows/helix/coordinator.md
  library/workflows/helix/phases/01-frame/artifacts/feature-specification/prompt.md
  library/workflows/helix/phases/01-frame/artifacts/prd/prompt.md
  library/workflows/helix/phases/01-frame/artifacts/user-stories/prompt.md
  library/workflows/helix/phases/01-frame/enforcer.md
  library/workflows/helix/phases/02-design/artifacts/contracts/prompt.md
  library/workflows/helix/phases/02-design/artifacts/solution-design/prompt.md
  library/workflows/helix/phases/02-design/enforcer.md
  library/workflows/helix/phases/03-test/actions/write-unit-tests/prompt.md
  library/workflows/helix/phases/03-test/enforcer.md
  library/workflows/helix/phases/04-build/enforcer.md
  library/workflows/helix/phases/05-deploy/enforcer.md
Due: ddx-validate

feat: implement workflow agent integration (US-045/FEAT-015)
  cli/cmd/agent.go
  cli/cmd/agent_integration_test.go
  cli/cmd/agent_test.go
  cli/cmd/command_factory.go
  cli/cmd/command_factory_commands.go
  cli/cmd/installation_acceptance_test.go
  cli/cmd/workflow.go
  cli/cmd/workflow_agent_test.go
  cli/internal/config/schema/config.schema.json
  cli/internal/config/types.go
  cli/internal/config/workflows_test.go
  cli/internal/workflow/loader.go
  cli/internal/workflow/loader_test.go
  cli/internal/workflow/types.go
  docs/helix/02-design/contracts/CLI-005-agent-commands.md
  docs/helix/02-design/solution-designs/SD-015-workflow-agent-integration.md
  docs/helix/03-test/test-specs/TS-015-workflow-agent-integration.md
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

fix: resolve all staticcheck lint errors and enforce golangci-lint
  cli/cmd/command_factory.go
  cli/cmd/config_test.go
  cli/cmd/init_test.go
  cli/cmd/persona.go
  cli/cmd/sync_acceptance_test.go
  cli/go.mod
  cli/go.sum
  cli/internal/auth/manager.go
  cli/internal/mcp/registry.go
  cli/internal/update/checker_test.go
  docs/helix/01-frame/features/FEAT-002-upstream-synchronization.md
  docs/helix/01-frame/user-stories/FEAT-001-story-collection.md
  docs/helix/01-frame/user-stories/FEAT-002-story-collection.md
  docs/helix/01-frame/user-stories/US-005-contribute-improvements.md
  docs/helix/01-frame/user-stories/US-011-contribute-changes-upstream.md
  docs/helix/01-frame/user-stories/US-012-track-asset-versions.md
  docs/helix/01-frame/user-stories/US-014-initialize-synchronization.md
  docs/helix/01-frame/user-stories/US-016-manage-authentication.md
  docs/helix/02-design/solution-designs/SD-006-contribution-command.md
  docs/helix/03-test/sync-system-test-specification.md
  lefthook.yml
  scripts/dev-setup.sh
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

chore: remove DDX_TEST_MODE from release workflow
  .github/workflows/release.yml
Due: ddx-validate

feat: implement contribution push functionality (US-005)
  cli/cmd/contribute.go
  cli/cmd/sync_acceptance_test.go
  cli/internal/git/git.go
Due: go-fmt, go-lint, go-build, go-test

fix: prevent test from creating cli/cmd/cli/ in current directory
  cli/cmd/prompts_test.go
Due: go-fmt, go-lint, go-build, go-test

fix: use temporary git repository for test fixture instead of gitlink
  cli/cmd/testutils_test.go
Due: go-fmt, go-lint, go-build, go-test

fix: capture git output and allow empty commits in test fixture init
  cli/cmd/testutils_test.go
Due: go-fmt, go-lint, go-build, go-test

fix: initialize git repository with master branch for test compatibility
  cli/cmd/testutils_test.go
Due: go-fmt, go-lint, go-build, go-test

fix: use workspace path for test library in CI
  .github/workflows/ci.yml
Due: ddx-validate

fix: use --no-git flag in CI environments for tests
  cli/cmd/testutils_test.go
Due: go-fmt, go-lint, go-build, go-test

fix: improve CLI UX by showing help for ambiguous subcommands
  cli/cmd/command_factory_commands.go
  cli/cmd/mcp.go
  cli/cmd/persona.go
  cli/cmd/workflow.go
Due: go-fmt, go-lint, go-build, go-test

feat: add --skip-claude-injection flag to suppress meta-prompt warnings
  cli/cmd/command_factory_commands.go
  cli/cmd/init.go
  cli/cmd/testutils_test.go
Due: go-fmt, go-lint, go-build, go-test

Path conditions:
  go-fmt: any of: *.go
  go-lint: any of: *.go
  go-build: any of: *.go
  go-test: any of: *.go
  ddx-validate: any of: **/*.{yml,yaml,md}
