Repository easel/ddx: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, go-build, go-test, ddx-validate

go-fmt:
  name: Go Format
  ...

go-lint:
  name: Go Lint
  ...

go-build:
  name: Go Build
  run: "if [ -f \"cli/go.mod\" ]; then\n  cd cli\nelif [ ! -f \"go.mod\" ]; then\n  exit 0\nfi\n\necho \"üî® Building Go project...\"\ngo build -v ./...\n"
  skip:
  - merge
  - rebase

go-test:
  name: Go Tests
  ...

ddx-validate:
  name: Validate DDx
  ...

Add optimized commit-hooks prompt for Claude
  .claude/settings.local.json
  COMMITHOOKS.md
  prompts/common/commit-hooks.md
Due: ddx-validate

feat: enhance GitHub Actions workflows with comprehensive CI/CD
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/integration.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  prompts/common/github-actions.md
Due: ddx-validate

docs: add pre-commit check instructions to CLAUDE.md
  .claude/settings.local.json
  CLAUDE.md
Due: none

fix: format Go files to pass CI checks
  .claude/settings.local.json
  cli/internal/config/config.go
  cli/internal/git/git.go
  cli/internal/templates/templates.go
Due: go-fmt, go-lint, go-build, go-test

fix: resolve CI/CD workflow failures and add CI validation
  .claude/settings.local.json
  .github/workflows/ci.yml
  cli/cmd/apply.go
  cli/cmd/list.go
  cli/cmd/root.go
  cli/go.mod
  cli/go.sum
  lefthook.yml
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

refactor: simplify CI workflow to use lefthook ci command
  .github/workflows/ci.yml
Due: ddx-validate

improve: CI workflow and GitHub Actions documentation
  .claude/settings.local.json
  .github/workflows/ci.yml
  lefthook.yml
  prompts/common/github-actions.md
  prompts/common/gitignore.md
Due: ddx-validate

fix: CI workflow build and integration test issues
  .github/workflows/ci.yml
Due: ddx-validate

feat: enhance gitignore evaluation prompt with comprehensive checklist
  prompts/common/gitignore.md
Due: ddx-validate

feat: add comprehensive documentation creation and maintenance prompt
  prompts/common/docs.md
Due: ddx-validate

enhance: comprehensive .gitignore based on evaluation guide
  .gitignore
Due: none

feat: implement comprehensive documentation structure
  docs/README.md
  docs/architecture/README.md
  docs/architecture/architecture-overview.md
  docs/development/README.md
  docs/development/tools/setup.md
  docs/usage/README.md
  docs/usage/getting-started/quick-start.md
Due: ddx-validate

fix: remove container-scan job from security workflow
  .github/workflows/security.yml
Due: ddx-validate

feat: add product requirements document prompt and DDX PRD
  docs/product/prd-ddx-v1.md
  prompts/common/product_requirements.md
Due: ddx-validate

fix: resolve remaining security workflow issues
  .github/workflows/security.yml
Due: ddx-validate

fix: add bash shell for cross-platform build compatibility
  .github/workflows/release.yml
Due: ddx-validate

fix: update install script to download and extract release archives
  install.sh
Due: none

feat: implement comprehensive DDX workflow system
  .gitignore
  docs/architecture/decisions/adr-001-workflow-structure.md
  docs/product/features/workflows/apply-command.md
  docs/product/features/workflows/commands.md
  docs/product/features/workflows/create-command.md
  docs/product/features/workflows/overview.md
  docs/usage/workflows/contributing-workflows.md
  docs/usage/workflows/creating-workflows.md
  docs/usage/workflows/customizing-workflows.md
  docs/usage/workflows/obsidian-integration.md
  docs/usage/workflows/overview.md
  prompts/ddx/create-workflow.md
  workflows/development/GUIDE.md
  workflows/development/README.md
  workflows/development/architecture/README.md
  workflows/development/architecture/prompt.md
  workflows/development/architecture/template.md
  workflows/development/feature-spec/README.md
  workflows/development/feature-spec/prompt.md
  workflows/development/feature-spec/template.md
  workflows/development/phases/01-define.md
  workflows/development/phases/02-design.md
  workflows/development/phases/03-implement.md
  workflows/development/phases/04-test.md
  workflows/development/phases/05-release.md
  workflows/development/phases/06-iterate.md
  workflows/development/prd/examples/ddx-v1.md
  workflows/development/prd/prompt.md
  workflows/development/prd/template.md
  workflows/development/release/README.md
  workflows/development/release/prompt.md
  workflows/development/release/template.md
  workflows/development/test-plan/README.md
  workflows/development/test-plan/prompt.md
  workflows/development/test-plan/template.md
  workflows/development/workflow.yml
Due: ddx-validate

feat: introduce Clinical Development Protocol (CDP) workflow
  docs/cdp/MANIFESTO.md
  docs/cdp/README.md
  docs/cdp/constraints.md
  docs/cdp/enforcement.md
  docs/cdp/migration-guide.md
  docs/cdp/principles.md
  docs/cdp/validation.md
  docs/product/features/self-update.md
  workflows/cdp/GUIDE.md
  workflows/cdp/README.md
  workflows/cdp/architecture/README.md
  workflows/cdp/architecture/prompt.md
  workflows/cdp/architecture/template.md
  workflows/cdp/feature-spec/README.md
  workflows/cdp/feature-spec/prompt.md
  workflows/cdp/feature-spec/template.md
  workflows/cdp/phases/01-diagnose.md
  workflows/cdp/phases/02-prescribe.md
  workflows/cdp/phases/03-treat.md
  workflows/cdp/phases/04-monitor.md
  workflows/cdp/phases/05-release.md
  workflows/cdp/phases/06-follow-up.md
  workflows/cdp/prd/examples/ddx-v1.md
  workflows/cdp/prd/prompt.md
  workflows/cdp/prd/template.md
  workflows/cdp/release/README.md
  workflows/cdp/release/prompt.md
  workflows/cdp/release/template.md
  workflows/cdp/test-plan/README.md
  workflows/cdp/test-plan/prompt.md
  workflows/cdp/test-plan/template.md
  workflows/cdp/validators/README.md
  workflows/cdp/validators/complexity_validator.star
  workflows/cdp/validators/lib/common.star
  workflows/cdp/validators/lib/git.star
  workflows/cdp/validators/spec_validator.star
  workflows/cdp/validators/test_validator.star
  workflows/cdp/workflow.yml
Due: ddx-validate

docs: add architecture decision records for core design choices
  docs/architecture/decisions/adr-002-git-subtree-distribution.md
  docs/architecture/decisions/adr-003-go-cli-implementation.md
  docs/architecture/decisions/adr-004-starlark-workflow-extensions.md
  docs/product/features/starlark-workflow-extensions.md
Due: ddx-validate

docs: enhance DDX PRD with CDP diagnostic analysis
  docs/product/diagnostic-criteria-checklist.md
  docs/product/prd-ddx-v1-enhanced.md
  docs/product/symptom-analysis-ddx.md
Due: ddx-validate

docs: add spec-driven.md resource from GitHub spec-kit
  docs/resources/spec-driven.md
Due: ddx-validate

chore: exclude Claude Code local settings from git
  .claude/settings.local.json
  .gitignore
Due: none

feat: add HELIX workflow for AI-assisted development
  workflows/helix/README.md
  workflows/helix/phases/01-frame/input-gates.yml
  workflows/helix/phases/02-design/input-gates.yml
  workflows/helix/phases/03-implement/input-gates.yml
  workflows/helix/phases/04-test/input-gates.yml
  workflows/helix/phases/05-deploy/input-gates.yml
  workflows/helix/phases/06-iterate/input-gates.yml
  workflows/helix/workflow.yml
Due: ddx-validate

docs: add Agile Manifesto resource
  docs/resources/agile-manifesto.md
Due: ddx-validate

feat: add principles document to workflow architecture
  docs/product/features/workflows/overview.md
  workflows/helix/principles.md
Due: ddx-validate

docs: add 12-factor app methodology resource
  docs/resources/12-factor-app.md
Due: ddx-validate

refactor: consolidate PRDs and update HELIX workflow
  docs/product/prd-ddx-v1-enhanced.md
  docs/product/prd-ddx-v1.md
  docs/product/prd.md
  workflows/helix/phases/01-frame/artifacts/prd/prompt.md
Due: ddx-validate

Fix formatting
  prompts/common/commit-hooks.md
Due: ddx-validate

feat: complete Frame phase clarifications and updates for DDX
  docs/01-frame/feature-registry.md
  docs/01-frame/features/FEAT-001-core-cli-framework.md
  docs/01-frame/features/FEAT-002-upstream-synchronization.md
  docs/01-frame/features/FEAT-003-configuration-management.md
  docs/01-frame/features/FEAT-004-cross-platform-installation.md
  docs/01-frame/features/FEAT-005-workflow-execution-engine.md
  docs/01-frame/user-stories/US-017-initialize-configuration.md
  docs/01-frame/user-stories/US-018-configure-variables.md
  docs/01-frame/user-stories/US-019-override-configuration.md
  docs/01-frame/user-stories/US-020-configure-resource-selection.md
  docs/01-frame/user-stories/US-021-configure-repository-connection.md
  docs/01-frame/user-stories/US-022-validate-configuration.md
  docs/01-frame/user-stories/US-023-export-import-configuration.md
  docs/01-frame/user-stories/US-024-view-effective-configuration.md
  workflows/helix/phases/01-frame/exit-gates.yml
Due: ddx-validate

refactor: simplify git hooks configuration with native Lefthook features
  lefthook.yml
Due: none

feat: complete design phase documentation for DDx
  docs/02-design/architecture.md
  docs/02-design/contracts/CLI-001-core-commands.md
  docs/02-design/contracts/CLI-002-sync-commands.md
  docs/02-design/contracts/CLI-003-utility-commands.md
  docs/02-design/data-design.md
  docs/02-design/security-architecture.md
  docs/02-design/solution-designs/SD-002-upstream-synchronization.md
Due: ddx-validate

fix: remove duplicate and incorrectly numbered solution design placeholder
  docs/02-design/solution-designs/SD-001-workflow-execution-engine.md
Due: ddx-validate

feat: enhance HELIX workflow with comprehensive documentation and visuals
  workflows/helix/QUICKSTART.md
  workflows/helix/README.md
  workflows/helix/REFERENCE.md
  workflows/helix/diagrams/artifact-flow.md
  workflows/helix/diagrams/workflow-overview.md
Due: ddx-validate

Path conditions:
  go-fmt: any of: *.go
  go-lint: any of: *.go
  go-build: any of: *.go
  go-test: any of: *.go
  ddx-validate: any of: **/*.{yml,yaml,md}
