Repository easel/ddx: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, go-build, go-test, ddx-validate

go-fmt:
  name: Go Format
  ...

go-lint:
  name: Go Lint
  ...

go-build:
  name: Go Build
  run: "if [ -f \"cli/go.mod\" ]; then\n  cd cli\nelif [ ! -f \"go.mod\" ]; then\n  exit 0\nfi\n\necho \"üî® Building Go project...\"\ngo build -v ./...\n"
  skip:
  - merge
  - rebase

go-test:
  name: Go Tests
  ...

ddx-validate:
  name: Validate DDx
  ...

docs: clarify Design phase artifact boundaries and project conventions
  docs/02-design/adr/adr-011-design-artifact-boundaries.md
  docs/README.md
  workflows/helix/conventions.md
  workflows/helix/phases/02-design/README.md
  workflows/helix/phases/02-design/artifacts/adr/prompt.md
  workflows/helix/phases/02-design/artifacts/solution-design/prompt.md
  workflows/helix/phases/02-design/artifacts/tech-spike/prompt.md
Due: ddx-validate

test: update persona tests to use centralized library structure
  cli/cmd/persona_acceptance_test.go
  cli/cmd/persona_contract_test.go
  cli/cmd/persona_integration_test.go
Due: go-fmt, go-lint, go-build, go-test

feat: implement centralized library structure with flexible path resolution
  mcp-servers/README.md
  mcp-servers/registry.yml
  mcp-servers/servers/filesystem.yml
  mcp-servers/servers/github.yml
  mcp-servers/servers/postgres.yml
  patterns/error-handling/README.md
  personas/README.md
  personas/architect-systems.md
  personas/strict-code-reviewer.md
  personas/test-engineer-tdd.md
  prompts/claude/CLAUDE.md.template
  prompts/claude/system-prompts/code-review.md
  prompts/common/commit-hooks.md
  prompts/common/docs.md
  prompts/common/github-actions.md
  prompts/common/gitignore.md
  prompts/common/product_requirements.md
  prompts/ddx/create-workflow.md
  templates/common/.gitignore
  templates/nextjs/README.md
  templates/nextjs/package.json
Due: ddx-validate

fix: template test variable replacement and permissions
  cli/internal/templates/templates_enhanced_test.go
  lefthook.yml
Due: go-fmt, go-lint, go-build, go-test

feat: complete HELIX TEST phase for AI persona system (FEAT-011)
  cli/cmd/apply_test.go
  cli/cmd/list_test.go
  cli/cmd/persona_acceptance_test.go
  cli/cmd/persona_contract_test.go
  cli/cmd/persona_integration_test.go
  cli/internal/config/config.go
  cli/internal/config/config_enhanced_test.go
  cli/internal/git/git.go
  cli/internal/persona/binding_test.go
  cli/internal/persona/claude_test.go
  cli/internal/persona/fixtures_test.go
  cli/internal/persona/persona_test.go
  cli/internal/persona/types.go
  cli/internal/templates/templates.go
  cli/internal/templates/templates_basic_test.go
  cli/internal/testutils/testutils.go
  docs/03-test/persona-system-test-summary.md
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

feat: complete HELIX 04-build phase implementation
  .ddx.yml
  CLAUDE.md
  cli/cmd/acceptance_test.go
  cli/cmd/apply.go
  cli/cmd/apply_test.go
  cli/cmd/config.go
  cli/cmd/config_test.go
  cli/cmd/contract_test.go
  cli/cmd/contribute.go
  cli/cmd/diagnose.go
  cli/cmd/init.go
  cli/cmd/init_test.go
  cli/cmd/list.go
  cli/cmd/list_test.go
  cli/cmd/performance_test.go
  cli/cmd/update.go
  cli/internal/config/config.go
  cli/internal/config/config_basic_test.go
  cli/internal/config/config_enhanced_test.go
  cli/internal/git/git.go
  cli/internal/git/git_basic_test.go
  cli/internal/templates/templates.go
  cli/internal/templates/templates_basic_test.go
  cli/internal/templates/templates_enhanced_test.go
  cli/internal/testutils/testutils.go
  cli/main.go
  docs/01-frame/features/FEAT-011-persona-system.md
  docs/01-frame/user-stories/US-030-developer-loading-personas.md
  docs/01-frame/user-stories/US-031-team-lead-binding-personas.md
  docs/01-frame/user-stories/US-032-workflow-author-requiring-roles.md
  docs/02-design/adr/ADR-011-persona-terminology.md
  docs/02-design/solution-designs/SD-011-persona-system.md
  personas/README.md
  personas/architect-systems.md
  personas/strict-code-reviewer.md
  personas/test-engineer-tdd.md
  workflows/helix/workflow.yml
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

feat: complete HELIX 03-test phase implementation
  cli/cmd/acceptance_test.go
  cli/cmd/apply_test.go
  cli/cmd/config_test.go
  cli/cmd/contract_test.go
  cli/cmd/e2e_test.go
  cli/cmd/init_test.go
  cli/cmd/list_test.go
  cli/cmd/performance_test.go
  cli/cmd/security_test.go
  cli/go.mod
  cli/go.sum
  cli/internal/config/config_basic_test.go
  cli/internal/git/git_basic_test.go
  cli/internal/templates/templates_basic_test.go
  docs/03-test/test-plan.md
  docs/03-test/test-procedures.md
  workflows/helix/phases/03-test/artifacts/security-tests/security-test.go.template
  workflows/helix/phases/03-test/artifacts/test-suites/integration-test.go.template
  workflows/helix/phases/03-test/artifacts/test-suites/unit-test.go.template
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

fix: improve CLI error handling and command output consistency
  cli/.ddx.yml
  cli/cmd/apply.go
  cli/cmd/config.go
  cli/cmd/errors.go
  cli/cmd/init.go
  cli/internal/config/config.go
  cli/internal/config/config_library_test.go
  cli/internal/config/library.go
  cli/main.go
  docs/01-frame/features/FEAT-012-library-management.md
  docs/02-design/contracts/CLI-004-library-management.md
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

fix: update CLI to use centralized library path resolution
  environments/README.md
  environments/brew/ai-tools-macos/Brewfile
  environments/brew/ai-tools-macos/README.md
  environments/brew/ai-tools-macos/setup.sh
  environments/docker/ai-development-base/.env.example
  environments/docker/ai-development-base/Dockerfile
  environments/docker/ai-development-base/README.md
  environments/docker/ai-development-base/docker-compose.yml
  environments/vagrant/ai-development-vm/README.md
  environments/vagrant/ai-development-vm/Vagrantfile
  environments/vagrant/ai-development-vm/provision.sh
  personas/helix-workflow-enforcer.md
Due: ddx-validate

fix: update CLI to use centralized library path resolution
  .ddx.yml
  CLAUDE.md
  README.md
  cli/cmd/acceptance_test.go
  cli/cmd/apply.go
  cli/cmd/contract_test.go
  cli/cmd/diagnose.go
  cli/cmd/init.go
  cli/cmd/list.go
  cli/cmd/list_test.go
  cli/cmd/persona.go
  cli/cmd/prompts_test.go
  cli/cmd/root.go
  cli/internal/config/config_library_test.go
  cli/internal/config/library.go
  cli/internal/persona/loader.go
  docs/01-frame/feature-registry.md
  docs/01-frame/features/FEAT-001-core-cli-framework.md
  docs/01-frame/features/FEAT-005-workflow-execution-engine.md
  docs/01-frame/features/FEAT-013-environment-assets.md
  docs/02-design/contracts/CLI-001-core-commands.md
  docs/03-test/test-plan.md
  docs/03-test/test-procedures.md
  docs/cli-commands.md
  lefthook.yml
  library/environments/README.md
  library/environments/brew/ai-tools-macos/Brewfile
  library/environments/brew/ai-tools-macos/README.md
  library/environments/brew/ai-tools-macos/setup.sh
  library/environments/docker/ai-development-base/.env.example
  library/environments/docker/ai-development-base/Dockerfile
  library/environments/docker/ai-development-base/README.md
  library/environments/docker/ai-development-base/docker-compose.yml
  library/environments/vagrant/ai-development-vm/README.md
  library/environments/vagrant/ai-development-vm/Vagrantfile
  library/environments/vagrant/ai-development-vm/provision.sh
  library/personas/helix-workflow-enforcer.md
  workflows/helix/phases/01-frame/enforcer.md
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

feat: add development environment assets support (FEAT-013)
  personas/helix-workflow-enforcer.md
Due: ddx-validate

feat: add development environment assets support (FEAT-013)
  .ddx.yml
  .helix-state.yml
  CLAUDE.md
  cli/cmd/contract_test.go
  cli/cmd/persona_acceptance_test.go
  cli/cmd/persona_contract_test.go
  library/personas/helix-workflow-enforcer.md
  workflows/helix/coordinator.md
  workflows/helix/phases/02-design/enforcer.md
  workflows/helix/phases/03-test/enforcer.md
  workflows/helix/phases/04-build/enforcer.md
  workflows/helix/phases/05-deploy/enforcer.md
  workflows/helix/phases/06-iterate/enforcer.md
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

fix: resolve test isolation issues in contract tests
  cli/cmd/contract_test.go
  cli/cmd/persona_contract_test.go
Due: go-fmt, go-lint, go-build, go-test

fix: resolve duplicate user story IDs
  docs/01-frame/features/FEAT-014-obsidian-integration.md
  docs/01-frame/user-stories/US-036-list-mcp-servers.md
  docs/01-frame/user-stories/US-037-install-mcp-server.md
  docs/01-frame/user-stories/US-038-apply-predefined-workflow.md
  docs/01-frame/user-stories/US-039-developer-loading-personas.md
  docs/01-frame/user-stories/US-040-team-lead-binding-personas.md
  docs/01-frame/user-stories/US-041-workflow-author-requiring-roles.md
  docs/02-design/FEAT-014-technical-design.md
  docs/03-test/persona-system-test-summary.md
Due: ddx-validate

feat: implement HELIX workflow auto-continuation system (FEAT-014)
  .helix-state.yml
  CLAUDE.md
  cli/cmd/workflow.go
  docs/01-frame/metrics.md
  docs/01-frame/problem.md
  docs/01-frame/risks.md
  docs/01-frame/stakeholders.md
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

feat: enhance MCP server registry with popular servers and CLI integration
  cli/Makefile
  cli/cmd/mcp.go
  cli/cmd/obsidian.go
  cli/internal/mcp/installer.go
  cli/internal/mcp/registry.go
  cli/internal/mcp/types.go
  cli/internal/obsidian/converter/links.go
  cli/internal/obsidian/converter/links_test.go
  cli/internal/obsidian/detector.go
  cli/internal/obsidian/detector_test.go
  cli/internal/obsidian/generator.go
  cli/internal/obsidian/generator_test.go
  cli/internal/obsidian/navigation.go
  cli/internal/obsidian/types.go
  cli/internal/obsidian/validator/validator.go
Due: go-fmt, go-lint, go-build, go-test

feat: add new MCP server definitions and updated registry
  library/mcp-servers/registry.yml
  library/mcp-servers/servers/filesystem.yml
  library/mcp-servers/servers/github.yml
  library/mcp-servers/servers/memory.yml
  library/mcp-servers/servers/playwright.yml
  library/mcp-servers/servers/puppeteer.yml
  library/mcp-servers/servers/sequential-thinking.yml
  library/mcp-servers/servers/sqlite.yml
Due: ddx-validate

feat: add new MCP server definitions and updated registry
  mcp-servers/registry.yml
  mcp-servers/servers/filesystem.yml
  mcp-servers/servers/github.yml
  mcp-servers/servers/memory.yml
  mcp-servers/servers/playwright.yml
  mcp-servers/servers/puppeteer.yml
  mcp-servers/servers/sequential-thinking.yml
  mcp-servers/servers/sqlite.yml
Due: ddx-validate

docs: create comprehensive README with clear DDX/HELIX separation
  README.md
Due: none

docs: add comprehensive setup guide for DDX and development tools
  docs/SETUP_GUIDE.md
Due: ddx-validate

feat: refactor Obsidian integration and enhance workflow automation
  .gitignore
  .helix-state.yml
  CLAUDE.md
  Makefile
  cli/cmd/obsidian.go
  cli/cmd/obsidian_integration_test.go
  cli/cmd/obsidian_test.go
  cli/cmd/workflow.go
  cli/internal/mcp/installer_test.go
  cli/internal/obsidian/converter/links.go
  cli/internal/obsidian/converter/links_test.go
  cli/internal/obsidian/detector.go
  cli/internal/obsidian/detector_test.go
  cli/internal/obsidian/generator.go
  cli/internal/obsidian/generator_test.go
  cli/internal/obsidian/navigation.go
  cli/internal/obsidian/scanner.go
  cli/internal/obsidian/types.go
  cli/internal/obsidian/types_test.go
  cli/internal/obsidian/validator/validator.go
  cli/test/fixtures/helix-workflow/docs/01-frame/features/FEAT-001-authentication.md
  cli/test/fixtures/helix-workflow/workflows/helix/coordinator.md
  cli/test/fixtures/helix-workflow/workflows/helix/phases/01-frame/README.md
  package.json
  pnpm-lock.yaml
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

docs: restructure setup guide with Homebrew first, add Ghostty and Kitty
  docs/SETUP_GUIDE.md
Due: ddx-validate

docs: add container runtime setup (Docker/Podman) to setup guide
  docs/SETUP_GUIDE.md
Due: ddx-validate

docs: enhance Claude Code installation section with comprehensive guide
  docs/SETUP_GUIDE.md
Due: ddx-validate

docs: add development language runtime installation section
  docs/SETUP_GUIDE.md
Due: ddx-validate

docs: replace SSH setup with GitHub CLI OAuth authentication
  docs/SETUP_GUIDE.md
Due: ddx-validate

docs: add Zed, Obsidian, and additional AI tools to setup guide
  docs/SETUP_GUIDE.md
Due: ddx-validate

docs: add OpenCode to AI tools section
  docs/SETUP_GUIDE.md
Due: ddx-validate

docs: update CLAUDE.md workflow references to library structure
  CLAUDE.md
Due: none

feat: implement HELIX Test phase with comprehensive TDD test suite
  .helix-state.yml
  CLAUDE.md
  cli/cmd/init.go
  cli/cmd/mcp_acceptance_test.go
  cli/cmd/mcp_contract_test.go
  cli/cmd/sync_acceptance_test.go
  cli/cmd/sync_contract_test.go
  cli/cmd/update.go
  docs/02-design/components.md
  docs/02-design/deployment.md
  docs/02-design/schema.md
  docs/03-test/comprehensive-test-specification.md
  docs/03-test/sync-system-test-specification.md
  docs/04-build/build-phase-progress.md
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

feat: implement Build phase improvements for DDx tests
  .helix-state.yml
  cli/cmd/mcp_acceptance_test.go
  cli/cmd/sync_contract_test.go
  cli/cmd/update.go
Due: go-fmt, go-lint, go-build, go-test

refactor: apply extensibility through composition principle
  environments/README.md
  personas/README.md
  tools/obsidian/README.md
  tools/obsidian/migrate.sh
Due: ddx-validate

fix: refactor MCP commands to use io.Writer for proper test output capture
  cli/cmd/mcp.go
  cli/cmd/mcp_acceptance_test.go
  cli/internal/mcp/installer.go
  cli/internal/mcp/registry.go
Due: go-fmt, go-lint, go-build, go-test

fix: test isolation and directory management issues
  cli/cmd/contribute.go
  cli/cmd/mcp_acceptance_test.go
  cli/cmd/mcp_contract_test.go
  cli/cmd/sync_contract_test.go
  cli/cmd/update.go
  cli/internal/mcp/registry.go
  cli/internal/mcp/types.go
Due: go-fmt, go-lint, go-build, go-test

feat: implement remaining DDx features for full test coverage
  cli/cmd/contribute.go
  cli/cmd/uninstall.go
  cli/cmd/update.go
  cli/cmd/workflow.go
  cli/internal/mcp/installer.go
  cli/internal/mcp/package.json
Due: go-fmt, go-lint, go-build, go-test

Path conditions:
  go-fmt: any of: *.go
  go-lint: any of: *.go
  go-build: any of: *.go
  go-test: any of: *.go
  ddx-validate: any of: **/*.{yml,yaml,md}
