Repository easel/ddx: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, go-build, go-test, ddx-validate

Path conditions:
  go-fmt: any of: *.go
  go-lint: any of: *.go
  go-build: any of: *.go
  go-test: any of: *.go
  ddx-validate: any of: **/*.{yml,yaml,md}

fix: improve test independence and fix MCP installer tests
  cli/cmd/mcp_acceptance_test.go
  cli/cmd/mcp_contract_test.go
  cli/internal/mcp/installer.go
Due: go-fmt, go-lint, go-build, go-test

feat: implement missing features and fix test independence
  cli/cmd/config.go
  cli/cmd/contribute.go
  cli/cmd/sync_acceptance_test.go
  cli/cmd/sync_contract_test.go
Due: go-fmt, go-lint, go-build, go-test

feat: implement remaining features for test compliance
  cli/cmd/contribute.go
  cli/cmd/sync_acceptance_test.go
  cli/cmd/update.go
Due: go-fmt, go-lint, go-build, go-test

test: fix all failing tests and achieve 100% pass rate
  cli/cmd/acceptance_test.go
  cli/cmd/apply.go
  cli/cmd/apply_test.go
  cli/cmd/command_factory.go
  cli/cmd/command_factory_commands.go
  cli/cmd/config.go
  cli/cmd/config_test.go
  cli/cmd/contract_test.go
  cli/cmd/contribute.go
  cli/cmd/diagnose.go
  cli/cmd/e2e_test.go
  cli/cmd/init.go
  cli/cmd/init_test.go
  cli/cmd/list.go
  cli/cmd/list_test.go
  cli/cmd/mcp.go
  cli/cmd/mcp_acceptance_test.go
  cli/cmd/mcp_contract_test.go
  cli/cmd/performance_test.go
  cli/cmd/persona.go
  cli/cmd/persona_acceptance_test.go
  cli/cmd/persona_contract_test.go
  cli/cmd/persona_integration_test.go
  cli/cmd/prompts.go
  cli/cmd/prompts_test.go
  cli/cmd/root.go
  cli/cmd/security_test.go
  cli/cmd/sync_acceptance_test.go
  cli/cmd/sync_contract_test.go
  cli/cmd/test_harness.go
  cli/cmd/uninstall.go
  cli/cmd/update.go
  cli/cmd/workflow.go
  cli/internal/config/config.go
  cli/update_tests.sh
Due: go-fmt, go-lint, go-build, go-test

feat: replace MCP config file manipulation with Claude CLI integration and add productivity servers
  mcp-servers/registry.yml
  mcp-servers/servers/google-drive.yml
  mcp-servers/servers/google-workspace.yml
  mcp-servers/servers/notion.yml
  mcp-servers/servers/office-365.yml
  mcp-servers/servers/slack.yml
Due: ddx-validate

feat: replace MCP config file manipulation with Claude CLI integration and add productivity servers
  cli/cmd/command_factory_commands.go
  cli/cmd/mcp.go
  cli/internal/mcp/claude.go
  cli/internal/mcp/installer.go
  cli/internal/mcp/installer_test.go
  cli/internal/mcp/registry.go
  cli/internal/mcp/types.go
  docs/helix/01-frame/features/FEAT-001-mcp-server-management.md
  docs/helix/01-frame/user-stories/US-036-list-mcp-servers.md
  docs/helix/01-frame/user-stories/US-037-install-mcp-server.md
  docs/helix/02-design/solution-designs/SD-001-mcp-management.md
  library/mcp-servers/registry.yml
  library/mcp-servers/servers/google-drive.yml
  library/mcp-servers/servers/google-workspace.yml
  library/mcp-servers/servers/notion.yml
  library/mcp-servers/servers/office-365.yml
  library/mcp-servers/servers/slack.yml
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

feat: remove obsolete config file tests and clean up MCP types
  cli/cmd/mcp.go
  cli/internal/mcp/errors.go
  cli/internal/mcp/installer_test.go
  cli/internal/mcp/types.go
Due: go-fmt, go-lint, go-build, go-test

docs: add workflow execution commands to CLAUDE.md
  CLAUDE.md
Due: none

fix: fix MCP acceptance test registry file format
  cli/cmd/mcp_acceptance_test.go
Due: go-fmt, go-lint, go-build, go-test

feat: implement core CLI framework with help, config, and version commands (US-006, US-007, US-008)
  cli/cmd/command_factory.go
  cli/cmd/command_factory_commands.go
  cli/cmd/config.go
  cli/cmd/config_acceptance_test.go
  cli/cmd/help_acceptance_test.go
  cli/cmd/installation_acceptance_test.go
  cli/cmd/version_acceptance_test.go
Due: go-fmt, go-lint, go-build, go-test

feat: implement workflow command execution functionality (US-042)
  cli/.ddx.yml
  cli/cmd/acceptance_test.go
  cli/cmd/mcp_contract_test.go
  cli/cmd/workflow.go
  cli/cmd/workflow_test.go
  cli/library/workflows/helix/commands/build-story.md
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

feat: implement story refinement system for HELIX workflow
  workflows/helix/commands/build-story.md
  workflows/helix/commands/refine-story.md
  workflows/helix/conventions.md
  workflows/helix/templates/refinement-log.md
Due: ddx-validate

feat: implement story refinement system for HELIX workflow
  docs/helix/06-iterate/refinements/README.md
  docs/helix/06-iterate/refinements/refinement-index.md
  library/workflows/helix/commands/build-story.md
  library/workflows/helix/commands/refine-story.md
  library/workflows/helix/conventions.md
  library/workflows/helix/templates/refinement-log.md
Due: ddx-validate

feat: implement US-035 Installation Diagnostics and US-036 List MCP Servers
  cli/cmd/doctor.go
  cli/cmd/installation_acceptance_test.go
  cli/cmd/mcp.go
  cli/cmd/mcp_acceptance_test.go
  cli/internal/mcp/registry.go
Due: go-fmt, go-lint, go-build, go-test

feat: remove overcomplicated US-020 resource selection tests and fix test issues
  cli/cmd/$PROFILE
  cli/cmd/acceptance_test.go
  cli/cmd/auth_us016_test.go
  cli/cmd/config.go
  cli/cmd/config_resource_selection_test.go
  cli/cmd/config_show_test.go
  cli/cmd/e2e_test.go
  cli/cmd/installation_acceptance_test.go
  cli/cmd/mcp.go
  cli/cmd/repository_connection_test.go
  cli/cmd/sync_acceptance_test.go
  cli/internal/auth/helpers.go
  cli/internal/auth/storage.go
  cli/internal/config/config.go
  cli/internal/mcp/registry.go
  cli/internal/mcp/types.go
  docs/helix/01-frame/user-stories/US-042-workflow-command-execution.md
  docs/helix/03-test/TS-004-installation-test-specification.md
  docs/helix/03-test/TS-005-workflow-command-execution.md
  docs/helix/03-test/TS-016-authentication-test-specification.md
  docs/helix/03-test/test-procedures-installation.md
  docs/helix/04-build/implementation-plans/IP-028-one-command-installation.md
  docs/helix/04-build/implementation-plans/IP-029-automatic-path-configuration.md
  docs/helix/04-build/implementation-plans/IP-030-installation-verification.md
  docs/helix/04-build/implementation-plans/IP-032-upgrade-existing-installation.md
  docs/helix/04-build/implementation-plans/IP-042-workflow-command-execution.md
  library/workflows/helix/commands/consolidate-docs.md
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

feat: remove overcomplicated US-020 resource selection tests and fix test issues
  workflows/helix/commands/consolidate-docs.md
Due: ddx-validate

refactor: unify HELIX workflow around "actions" concept
  workflows/helix/README.md
  workflows/helix/actions/build-story.md
  workflows/helix/actions/consolidate-docs.md
  workflows/helix/actions/refine-story.md
  workflows/helix/phases/01-frame/actions/define-problem.md
  workflows/helix/phases/01-frame/actions/gather-requirements.md
  workflows/helix/phases/02-design/actions/create-architecture.md
  workflows/helix/phases/03-test/actions/write-story-tests.md
  workflows/helix/phases/04-build/actions/implement-feature.md
  workflows/helix/phases/06-iterate/actions/analyze-metrics.md
Due: ddx-validate

refactor: unify HELIX workflow around "actions" concept
  CLAUDE.md
  cli/cmd/apply.go
  cli/cmd/apply_test.go
  cli/cmd/command_factory.go
  cli/cmd/command_factory_commands.go
  library/workflows/helix/README.md
  library/workflows/helix/actions/build-story.md
  library/workflows/helix/actions/consolidate-docs.md
  library/workflows/helix/actions/refine-story.md
  library/workflows/helix/phases/01-frame/actions/define-problem.md
  library/workflows/helix/phases/01-frame/actions/gather-requirements.md
  library/workflows/helix/phases/02-design/actions/create-architecture.md
  library/workflows/helix/phases/03-test/actions/write-story-tests.md
  library/workflows/helix/phases/04-build/actions/implement-feature.md
  library/workflows/helix/phases/06-iterate/actions/analyze-metrics.md
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

feat: implement installer and init command improvements per user story updates
  patterns/README.md
  patterns/error-handling/README.md
  templates/README.md
  templates/common/.gitignore
  templates/nextjs/README.md
  templates/nextjs/package.json
Due: ddx-validate

feat: implement installer and init command improvements per user story updates
  cli/.ddx.yml
  cli/cmd/acceptance_test.go
  cli/cmd/command_factory_commands.go
  cli/cmd/contract_test.go
  cli/cmd/help_acceptance_test.go
  cli/cmd/init.go
  cli/cmd/list.go
  cli/cmd/list_test.go
  cli/go.mod
  cli/go.sum
  cli/internal/config/config.go
  cli/internal/config/config_basic_test.go
  cli/internal/templates/templates.go
  cli/internal/templates/templates_basic_test.go
  cli/internal/templates/templates_enhanced_test.go
  docs/helix/01-frame/user-stories/US-001-initialize-ddx-in-project.md
  docs/helix/01-frame/user-stories/US-014-initialize-synchronization.md
  docs/helix/01-frame/user-stories/US-028-one-command-installation.md
  docs/helix/01-frame/user-stories/US-030-installation-verification.md
  install.sh
  library/patterns/README.md
  library/patterns/error-handling/README.md
  library/templates/README.md
  library/templates/common/.gitignore
  library/templates/nextjs/README.md
  library/templates/nextjs/package.json
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

fix: complete test suite fixes for CI environment
  cli/cmd/auth_us016_test.go
  cli/cmd/config_test.go
  cli/cmd/init_test.go
  cli/internal/config/config_basic_test.go
Due: go-fmt, go-lint, go-build, go-test

feat: eliminate SSH dependencies from DDx authentication system
  cli/cmd/auth.go
  cli/cmd/auth_us016_test.go
  cli/internal/auth/github.go
  cli/internal/auth/helpers.go
  cli/internal/auth/interfaces.go
  cli/internal/auth/manager.go
  docs/helix/01-frame/user-stories/US-016-manage-authentication.md
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

fix: resolve test working directory issues in installation tests
  cli/cmd/installation_acceptance_test.go
Due: go-fmt, go-lint, go-build, go-test

fix: implement robust working directory injection architecture
  cli/cmd/$PROFILE
  cli/cmd/acceptance_test.go
  cli/cmd/command_factory.go
  cli/cmd/command_factory_commands.go
  cli/cmd/config_acceptance_test.go
  cli/cmd/contract_test.go
  cli/cmd/diagnose.go
  cli/cmd/doctor.go
  cli/cmd/help_acceptance_test.go
  cli/cmd/init.go
  cli/cmd/init_test.go
  cli/cmd/installation_acceptance_test.go
  cli/cmd/list.go
  cli/cmd/list_test.go
  cli/cmd/mcp_acceptance_test.go
  cli/cmd/performance_test.go
  cli/cmd/persona_acceptance_test.go
  cli/cmd/persona_contract_test.go
  cli/cmd/persona_integration_test.go
  cli/cmd/prompts_test.go
  cli/cmd/root.go
  cli/cmd/security_test.go
  cli/cmd/status_test.go
  cli/cmd/sync_acceptance_test.go
  cli/cmd/test_harness.go
  cli/cmd/version_acceptance_test.go
  cli/main.go
Due: go-fmt, go-lint, go-build, go-test

fix: format Go files with gofmt
  cli/cmd/config_debug_test.go
  cli/cmd/contribute.go
  cli/cmd/doctor.go
  cli/cmd/exclude_pattern_test.go
  cli/cmd/init_test.go
  cli/cmd/install.go
  cli/cmd/installation_acceptance_test.go
  cli/cmd/profile_test.go
  cli/cmd/update.go
Due: go-fmt, go-lint, go-build, go-test

fix: remove duplicate showConfig function and consolidate to showEffectiveConfig
  cli/cmd/config.go
Due: go-fmt, go-lint, go-build, go-test

fix: eliminate os.Chdir from contract_override_precedence test
  cli/cmd/mcp_contract_test.go
Due: go-fmt, go-lint, go-build, go-test

fix: eliminate os.Chdir from test harness infrastructure
  cli/cmd/mcp_contract_test.go
  cli/cmd/test_harness.go
Due: go-fmt, go-lint, go-build, go-test

fix: improve Obsidian .gitignore to prevent personal config conflicts
  .gitignore
  .obsidian/app.json
  .obsidian/appearance.json
Due: none

fix: correct installation script URLs from ddx-tools/ddx to easel/ddx
  README.md
  docs/SETUP_GUIDE.md
Due: ddx-validate

fix: update all remaining ddx-tools/ddx references to easel/ddx
  cli/cmd/contribute.go
  cli/cmd/e2e_test.go
  cli/cmd/sync_acceptance_test.go
  cli/cmd/sync_contract_test.go
  cli/cmd/test_harness.go
  cli/cmd/uninstall.go
  docs/helix/02-design/architecture.md
  docs/helix/02-design/contracts/CLI-001-core-commands.md
  docs/helix/02-design/contracts/CLI-002-sync-commands.md
  docs/helix/02-design/contracts/CLI-003-utility-commands.md
  docs/helix/02-design/data-design.md
  docs/helix/02-design/deployment.md
  docs/helix/02-design/solution-designs/SD-002-upstream-synchronization.md
Due: go-fmt, go-lint, go-build, go-test, ddx-validate

fix: ddx init now creates complete .ddx directory structure
  cli/cmd/init.go
Due: go-fmt, go-lint, go-build, go-test

feat: comprehensive code formatting and test organization improvements
  cli/cmd/$PROFILE
  cli/cmd/acceptance_test.go
  cli/cmd/auth_us016_test.go
  cli/cmd/config.go
  cli/cmd/config_acceptance_test.go
  cli/cmd/config_migrate.go
  cli/cmd/config_test.go
  cli/cmd/contract_test.go
  cli/cmd/contribute.go
  cli/cmd/e2e_test.go
  cli/cmd/init.go
  cli/cmd/init_functional_test.go
  cli/cmd/init_test.go
  cli/cmd/list.go
  cli/cmd/log_us015_test.go
  cli/cmd/persona.go
  cli/cmd/persona_acceptance_test.go
  cli/cmd/persona_contract_test.go
  cli/cmd/persona_integration_test.go
  cli/cmd/repository_connection_test.go
  cli/cmd/security_test.go
  cli/cmd/status.go
  cli/cmd/status_test.go
  cli/cmd/sync_acceptance_test.go
  cli/cmd/test_isolation_test.go
  cli/cmd/testutils_test.go
  cli/cmd/update.go
  cli/cmd/workflow_test.go
  cli/debug_test.go
  cli/internal/config/config.go
  cli/internal/config/config_basic_test.go
  cli/internal/config/loader.go
  cli/internal/config/types.go
  cli/internal/config/validator.go
  cli/internal/mcp/registry_test.go
Due: go-fmt, go-lint, go-build, go-test

fix: remove unnecessary performance tests and debug files
  cli/cmd/$PROFILE
  cli/cmd/performance_test.go
  cli/debug_test.go
Due: go-fmt, go-lint, go-build, go-test

fix: temporarily remove race detector from release tests
  .github/workflows/release.yml
Due: ddx-validate

fix: limit release tests to core functionality only
  .github/workflows/release.yml
Due: ddx-validate

fix: correct repository URLs for installation and documentation
  README.md
  install.sh
Due: none
